/*
    <div class="btn-strip">
        <span class="btn outline danger">Yes</span>
        <span class="btn outline success">No</span>
    </div>
*/

/* Structure */
.btn-strip {
    display: flex; gap: 0;
}

.btn-strip > .btn {
    display: inline-block; text-align: center; flex: 1;
    padding: 0.9em 0; border: none !important;
}

/* Theme */
.btn-strip {
    border-bottom: 1px solid light-dark(rgba(0,0,0,0.125),rgba(0,0,0,0.225));
    border-top: 1px solid light-dark(rgba(0,0,0,0.125),rgba(0,0,0,0.225));
}

/* Interactions */
.dialog > .btn-strip {
    border-bottom: none;
    border-top: 1px solid light-dark(rgba(0,0,0,0.065),rgba(0,0,0,0.225));
}