/* Structure */
.btn {
    display: inline-block; text-align: center; border: none; background: none;
    padding: 0.4rem 1rem; border-radius: 0.25rem;
    transition: all var(--duration) ease;
}

.btn:hover {
    cursor: pointer;
    transition: all var(--duration) ease;
}

/* Theme */
.btn {
    background: var(--c-bg);
    color: var(--c-text);
    border: var(--c-border);
}
.btn:hover {
    background: var(--c-bg-hover);
    color: var(--c-text-hover);
    border: var(--c-border-hover);
}

.btn.outline {
    background: var(--c-alt-bg);
    color: var(--c-alt-text);
    border: var(--c-alt-border);
}
.btn.outline:hover {
    background: var(--c-alt-bg-hover);
    color: var(--c-alt-text-hover);
    border: var(--c-alt-border-hover);
}

/* ** */
.btn.primary {
    --c-bg: var(--c-primary-bg);
    --c-text: var(--c-primary-text);
    --c-border: var(--c-primary-border);
    --c-bg-hover: var(--c-primary-bg-hover);
    --c-text-hover: var(--c-primary-text-hover);
    --c-border-hover: var(--c-primary-border-hover);
    --c-alt-bg: var(--c-primary-alt-bg);
    --c-alt-text: var(--c-primary-alt-text);
    --c-alt-border: var(--c-primary-alt-border);
    --c-alt-bg-hover: var(--c-primary-alt-bg-hover);
    --c-alt-text-hover: var(--c-primary-alt-text-hover);
    --c-alt-border-hover: var(--c-primary-alt-border-hover);
}

.btn.secondary {
    --c-bg: var(--c-secondary-bg);
    --c-text: var(--c-secondary-text);
    --c-border: var(--c-secondary-border);
    --c-bg-hover: var(--c-secondary-bg-hover);
    --c-text-hover: var(--c-secondary-text-hover);
    --c-border-hover: var(--c-secondary-border-hover);
    --c-alt-bg: var(--c-secondary-alt-bg);
    --c-alt-text: var(--c-secondary-alt-text);
    --c-alt-border: var(--c-secondary-alt-border);
    --c-alt-bg-hover: var(--c-secondary-alt-bg-hover);
    --c-alt-text-hover: var(--c-secondary-alt-text-hover);
    --c-alt-border-hover: var(--c-secondary-alt-border-hover);
}

.btn.success {
    --c-bg: var(--c-success-bg);
    --c-text: var(--c-success-text);
    --c-border: var(--c-success-border);
    --c-bg-hover: var(--c-success-bg-hover);
    --c-text-hover: var(--c-success-text-hover);
    --c-border-hover: var(--c-success-border-hover);
    --c-alt-bg: var(--c-success-alt-bg);
    --c-alt-text: var(--c-success-alt-text);
    --c-alt-border: var(--c-success-alt-border);
    --c-alt-bg-hover: var(--c-success-alt-bg-hover);
    --c-alt-text-hover: var(--c-success-alt-text-hover);
    --c-alt-border-hover: var(--c-success-alt-border-hover);
}

.btn.danger {
    --c-bg: var(--c-danger-bg);
    --c-text: var(--c-danger-text);
    --c-border: var(--c-danger-border);
    --c-bg-hover: var(--c-danger-bg-hover);
    --c-text-hover: var(--c-danger-text-hover);
    --c-border-hover: var(--c-danger-border-hover);
    --c-alt-bg: var(--c-danger-alt-bg);
    --c-alt-text: var(--c-danger-alt-text);
    --c-alt-border: var(--c-danger-alt-border);
    --c-alt-bg-hover: var(--c-danger-alt-bg-hover);
    --c-alt-text-hover: var(--c-danger-alt-text-hover);
    --c-alt-border-hover: var(--c-danger-alt-border-hover);
}

.btn.warn {
    --c-bg: var(--c-warn-bg);
    --c-text: var(--c-warn-text);
    --c-border: var(--c-warn-border);
    --c-bg-hover: var(--c-warn-bg-hover);
    --c-text-hover: var(--c-warn-text-hover);
    --c-border-hover: var(--c-warn-border-hover);
    --c-alt-bg: var(--c-warn-alt-bg);
    --c-alt-text: var(--c-warn-alt-text);
    --c-alt-border: var(--c-warn-alt-border);
    --c-alt-bg-hover: var(--c-warn-alt-bg-hover);
    --c-alt-text-hover: var(--c-warn-alt-text-hover);
    --c-alt-border-hover: var(--c-warn-alt-border-hover);
}

.btn.info {
    --c-bg: var(--c-info-bg);
    --c-text: var(--c-info-text);
    --c-border: var(--c-info-border);
    --c-bg-hover: var(--c-info-bg-hover);
    --c-text-hover: var(--c-info-text-hover);
    --c-border-hover: var(--c-info-border-hover);
    --c-alt-bg: var(--c-info-alt-bg);
    --c-alt-text: var(--c-info-alt-text);
    --c-alt-border: var(--c-info-alt-border);
    --c-alt-bg-hover: var(--c-info-alt-bg-hover);
    --c-alt-text-hover: var(--c-info-alt-text-hover);
    --c-alt-border-hover: var(--c-info-alt-border-hover);
}

.btn.inv {
    --c-bg: var(--c-inv-bg);
    --c-text: var(--c-inv-text);
    --c-border: var(--c-inv-border);
    --c-bg-hover: var(--c-inv-bg-hover);
    --c-text-hover: var(--c-inv-text-hover);
    --c-border-hover: var(--c-inv-border-hover);
    --c-alt-bg: var(--c-inv-alt-bg);
    --c-alt-text: var(--c-inv-alt-text);
    --c-alt-border: var(--c-inv-alt-border);
    --c-alt-bg-hover: var(--c-inv-alt-bg-hover);
    --c-alt-text-hover: var(--c-inv-alt-text-hover);
    --c-alt-border-hover: var(--c-inv-alt-border-hover);
}
