/* Structure */
.btn {
    display: inline-block; text-align: center; border: none; background: none;
    padding: 0.4rem 1rem; border-radius: 0.25rem;
    transition: all var(--duration) ease;
}

.btn:hover {
    cursor: pointer;
    transition: all var(--duration) ease;
}

.btn.small {
    padding: 0.2rem 0.5rem; font-size: 0.9rem;
}

.btn.tiny {
    padding: 0.0rem 0.4rem; font-size: 0.9rem;
}

/* Theme */
.btn {
    background: var(--btn-bg);
    color: var(--btn-text);
    border: var(--btn-border);
}
.btn:hover {
    background: var(--btn-bg-hover);
    color: var(--btn-text-hover);
    border: var(--btn-border-hover);
}

.btn.outline {
    background: var(--btn-alt-bg);
    color: var(--btn-alt-text);
    border: var(--btn-alt-border);
}
.btn.outline:hover {
    background: var(--btn-alt-bg-hover);
    color: var(--btn-alt-text-hover);
    border: var(--btn-alt-border-hover);
}

/* ** */
.btn.primary {
    --btn-bg: var(--btn-primary-bg);
    --btn-text: var(--btn-primary-text);
    --btn-border: var(--btn-primary-border);
    --btn-bg-hover: var(--btn-primary-bg-hover);
    --btn-text-hover: var(--btn-primary-text-hover);
    --btn-border-hover: var(--btn-primary-border-hover);
    --btn-alt-bg: var(--btn-primary-alt-bg);
    --btn-alt-text: var(--btn-primary-alt-text);
    --btn-alt-border: var(--btn-primary-alt-border);
    --btn-alt-bg-hover: var(--btn-primary-alt-bg-hover);
    --btn-alt-text-hover: var(--btn-primary-alt-text-hover);
    --btn-alt-border-hover: var(--btn-primary-alt-border-hover);
}

.btn.secondary {
    --btn-bg: var(--btn-secondary-bg);
    --btn-text: var(--btn-secondary-text);
    --btn-border: var(--btn-secondary-border);
    --btn-bg-hover: var(--btn-secondary-bg-hover);
    --btn-text-hover: var(--btn-secondary-text-hover);
    --btn-border-hover: var(--btn-secondary-border-hover);
    --btn-alt-bg: var(--btn-secondary-alt-bg);
    --btn-alt-text: var(--btn-secondary-alt-text);
    --btn-alt-border: var(--btn-secondary-alt-border);
    --btn-alt-bg-hover: var(--btn-secondary-alt-bg-hover);
    --btn-alt-text-hover: var(--btn-secondary-alt-text-hover);
    --btn-alt-border-hover: var(--btn-secondary-alt-border-hover);
}

.btn.success {
    --btn-bg: var(--btn-success-bg);
    --btn-text: var(--btn-success-text);
    --btn-border: var(--btn-success-border);
    --btn-bg-hover: var(--btn-success-bg-hover);
    --btn-text-hover: var(--btn-success-text-hover);
    --btn-border-hover: var(--btn-success-border-hover);
    --btn-alt-bg: var(--btn-success-alt-bg);
    --btn-alt-text: var(--btn-success-alt-text);
    --btn-alt-border: var(--btn-success-alt-border);
    --btn-alt-bg-hover: var(--btn-success-alt-bg-hover);
    --btn-alt-text-hover: var(--btn-success-alt-text-hover);
    --btn-alt-border-hover: var(--btn-success-alt-border-hover);
}

.btn.danger {
    --btn-bg: var(--btn-danger-bg);
    --btn-text: var(--btn-danger-text);
    --btn-border: var(--btn-danger-border);
    --btn-bg-hover: var(--btn-danger-bg-hover);
    --btn-text-hover: var(--btn-danger-text-hover);
    --btn-border-hover: var(--btn-danger-border-hover);
    --btn-alt-bg: var(--btn-danger-alt-bg);
    --btn-alt-text: var(--btn-danger-alt-text);
    --btn-alt-border: var(--btn-danger-alt-border);
    --btn-alt-bg-hover: var(--btn-danger-alt-bg-hover);
    --btn-alt-text-hover: var(--btn-danger-alt-text-hover);
    --btn-alt-border-hover: var(--btn-danger-alt-border-hover);
}

.btn.warn {
    --btn-bg: var(--btn-warn-bg);
    --btn-text: var(--btn-warn-text);
    --btn-border: var(--btn-warn-border);
    --btn-bg-hover: var(--btn-warn-bg-hover);
    --btn-text-hover: var(--btn-warn-text-hover);
    --btn-border-hover: var(--btn-warn-border-hover);
    --btn-alt-bg: var(--btn-warn-alt-bg);
    --btn-alt-text: var(--btn-warn-alt-text);
    --btn-alt-border: var(--btn-warn-alt-border);
    --btn-alt-bg-hover: var(--btn-warn-alt-bg-hover);
    --btn-alt-text-hover: var(--btn-warn-alt-text-hover);
    --btn-alt-border-hover: var(--btn-warn-alt-border-hover);
}

.btn.info {
    --btn-bg: var(--btn-info-bg);
    --btn-text: var(--btn-info-text);
    --btn-border: var(--btn-info-border);
    --btn-bg-hover: var(--btn-info-bg-hover);
    --btn-text-hover: var(--btn-info-text-hover);
    --btn-border-hover: var(--btn-info-border-hover);
    --btn-alt-bg: var(--btn-info-alt-bg);
    --btn-alt-text: var(--btn-info-alt-text);
    --btn-alt-border: var(--btn-info-alt-border);
    --btn-alt-bg-hover: var(--btn-info-alt-bg-hover);
    --btn-alt-text-hover: var(--btn-info-alt-text-hover);
    --btn-alt-border-hover: var(--btn-info-alt-border-hover);
}

.btn.inv {
    --btn-bg: var(--btn-inv-bg);
    --btn-text: var(--btn-inv-text);
    --btn-border: var(--btn-inv-border);
    --btn-bg-hover: var(--btn-inv-bg-hover);
    --btn-text-hover: var(--btn-inv-text-hover);
    --btn-border-hover: var(--btn-inv-border-hover);
    --btn-alt-bg: var(--btn-inv-alt-bg);
    --btn-alt-text: var(--btn-inv-alt-text);
    --btn-alt-border: var(--btn-inv-alt-border);
    --btn-alt-bg-hover: var(--btn-inv-alt-bg-hover);
    --btn-alt-text-hover: var(--btn-inv-alt-text-hover);
    --btn-alt-border-hover: var(--btn-inv-alt-border-hover);
}
