/* Structure */
.dialog {
    display: flex; flex-direction: column; overflow: hidden; box-sizing: border-box; font-size: 1em; z-index: 10;
    --margin: 0.5em;
}

.dialog > .title {
    display: flex; margin: 0;
}

.dialog > .title > b {
    font-weight: inherit; flex: 1; font-size: 1.1em; margin: 1em 0 0.5em 0; padding: 0em 0.2em; line-height: 1; text-align: center;
    font-weight: 600;
}

.dialog > .title > span > * {
    display: inline-block; margin: 0.2em; padding: 0em 0.3em; border-radius: 0.4em; font-style: normal; font-size: 1.5em;
    transition: all var(--duration) ease;
}

.dialog > .title > span > *:hover {
    cursor: pointer; transform: scale(1.2);
    background: var(--c-bg-hover);
    transition: all var(--duration) ease;
}

/* ** */
.dialog > div.content {
    overflow-y: auto; scrollbar-width: thin; flex: 1; font-size: 1em; padding: 0.4em 1em 1.2em 1em;
}

/* ** */
.dialog.left {
    position: fixed; left: 0; top: 0; border-radius: 0 1em 1em 0;
    margin: var(--margin) 0; height: calc(100vh - 2*var(--margin));
}

.dialog.right {
    position: fixed; right: 0; top: 0; border-radius: 1em 0 0 1em;
    margin: var(--margin) 0; height: calc(100vh - 2*var(--margin));
}

.dialog.top {
    position: fixed; top: 0; border-radius: 0 0 1em 1em;
    left: 50%; transform: translateX(-50%); max-height: calc(100vh - 1em);
}

.dialog.bottom {
    position: fixed; bottom: 0; border-radius: 1em 1em 0 0;
    left: 50%; transform: translateX(-50%); max-height: calc(100vh - 1em);
}

.dialog.center {
    position: fixed; left: 50%; top: 15%; border-radius: 1em;
    transform: translateX(-50%) translateY(0%);
}

.dialog.middle {
    position: fixed; left: 50%; transform: translateX(-50%); top: 0; border-radius: 1em;
    margin: var(--margin) 0; height: calc(100vh - 2*var(--margin));
}

/* Anims */
.dialog {
    transition: all calc(1.5*var(--duration)) cubic-bezier(0.175, 0.885, 0.32, 1.575);
    opacity: 1;
}

.dialog.is-inactive {
    transition: all calc(1.5*var(--duration)) cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0; pointer-events: none;
}

.dialog.left.is-inactive { transform: translateX(-15%); }
.dialog.right.is-inactive { transform: translateX(15%); }
.dialog.top.is-inactive { transform: translateX(-50%) translateY(-15%); }
.dialog.bottom.is-inactive { transform: translateX(-50%) translateY(15%); }
.dialog.center.is-inactive { transform: translateX(-50%) translateY(-30%) scale(0.5); }
.dialog.middle.is-inactive { transform: translateX(-50%) translateY(-30%) scale(0.5); }

/* Theme */
.dialog.center, .dialog.left, .dialog.right, .dialog.top, .dialog.bottom, .dialog.middle {
    box-shadow: 0 0 2.5em rgba(0,0,0,0.5);
}

.dialog > .title {
    background: light-dark(#f7f7f7,#2b2a33); color: light-dark(#000,#fff);
}

.dialog > div {
    background: light-dark(#f7f7f7,#2b2a33); color: light-dark(#000,#ccc);
}

.dialog + .overlay {
    position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.9); z-index: 9;
    transition: all calc(3.5*var(--duration)) cubic-bezier(0.175, 0.885, 0.32, 1.575);
    opacity: 1;
}

.dialog.is-inactive + .overlay {
    transition: all calc(2.0*var(--duration)) cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0; pointer-events: none;
}
