/* Structure */
.form-field {
    display: block; margin-bottom: 1em;
}

.form-field label {
    display: block; margin-bottom: 0.2em; font-weight: 400; font-size: 1em;
    color: var(--c-field-label);
}

.form-field input, .form-field textarea, .form-field select {
    display: inline-block; width: 100%; box-sizing: border-box; font-family: inherit; font-weight: 400; font-size: 1em;
    border-radius: 0.3em; padding: 0.5em 0.8em; outline: none; resize: none;
    background: var(--c-field-bg); border: var(--c-field-border); color: var(--c-field-text);
    box-shadow: 0 0.1em 0.5em -0.1em light-dark(rgba(0,0,0,0.15), rgba(0,0,0,0.5));
}

.form-field input:focus, .form-field textarea:focus, .form-field select:focus {
    outline: var(--c-field-border-hover);
}

.form-field.required label:after {
    color: var(--c-danger-alt-text); content: "*"; margin-left: 0.1em;
}

.form-field span.field-error {
    color: var(--c-danger-alt-text); font-size: 0.9em;
}

.form-field small {
    color: var(--c-field-note);
}