:root {

    /***/
    --c-panel-bg: light-dark(#f3f4f6, #10151e);

    /***/
    --c-field-bg: light-dark(#ffffff, #2b2f36);
    --c-field-label: light-dark(#444444, #cccccc);
    --c-field-text: light-dark(#000000, #f7f7f7);
    --c-field-note: light-dark(#555, #888);
    --c-field-border: 1px solid light-dark(#c7c7c7, #4b4f56);
    --c-field-outline: none;
    --c-field-border-hover: 1px solid light-dark(#a7a7a7, #6b6f76);
    --c-field-outline-hover: 3px solid light-dark(#e3e3e3,#1b1f26);

    /***/
    --c-bg: light-dark(#d3d7ef,#33364c);
    --c-text: light-dark(#22262f,#cccccc);
    --c-border: none;
    --c-bg-hover: light-dark(#c3c7df,#53667c);
    --c-text-hover: light-dark(#000000,#fff);
    --c-border-hover: none;

    --c-alt-bg: transparent;
    --c-alt-text: light-dark(#222222,#e7e7e7);
    --c-alt-border: 1px solid light-dark(#b3b7cf,#53667c);
    --c-alt-bg-hover: light-dark(#c3c7df,#53667c);
    --c-alt-text-hover: light-dark(#000000,#fff);
    --c-alt-border-hover: 1px solid transparent;

    /***/
    --c-primary-bg: light-dark(#4e18de,#4e18de);
    --c-primary-text: light-dark(#ffffff,#ffffff);
    --c-primary-border: none;
    --c-primary-bg-hover: light-dark(#2e08be,#2e08be);
    --c-primary-text-hover: light-dark(#ffffff,#ffffff);
    --c-primary-border-hover: none;

    --c-primary-alt-bg: transparent;
    --c-primary-alt-text: light-dark(#4e18de,#7e48fe);
    --c-primary-alt-border: 1px solid light-dark(#4e18de,#7e48fe);
    --c-primary-alt-bg-hover: light-dark(#2e08be,#4e08de);
    --c-primary-alt-text-hover: light-dark(#ffffff,#ffffff);
    --c-primary-alt-border-hover: 1px solid light-dark(#4e18de,#4e18de);

    /***/
    --c-secondary-bg: light-dark(#be28ac,#be28ac);
    --c-secondary-text: light-dark(#ffffff,#ffffff);
    --c-secondary-border: none;
    --c-secondary-bg-hover: light-dark(#9e088c,#9e088c);
    --c-secondary-text-hover: light-dark(#ffffff,#ffffff);
    --c-secondary-border-hover: none;

    --c-secondary-alt-bg: transparent;
    --c-secondary-alt-text: light-dark(#be28ac,#f665e5);
    --c-secondary-alt-border: 1px solid light-dark(#be28ac,#e344d0);
    --c-secondary-alt-bg-hover: light-dark(#9e088c,#9e088c);
    --c-secondary-alt-text-hover: light-dark(#ffffff,#ffffff);
    --c-secondary-alt-border-hover: 1px solid light-dark(#be28ac,#be28ac);

    /***/
    --c-success-bg: light-dark(#16b72e,#16b72e);
    --c-success-text: light-dark(#ffffff,#ffffff);
    --c-success-border: none;
    --c-success-bg-hover: light-dark(#06a71e,#06a71e);
    --c-success-text-hover: light-dark(#ffffff,#ffffff);
    --c-success-border-hover: none;

    --c-success-alt-bg: transparent;
    --c-success-alt-text: light-dark(#16b72e,#6ebe38);
    --c-success-alt-border: 1px solid light-dark(#16b72e,#16b72e);
    --c-success-alt-bg-hover: light-dark(#06a71e,#16b72e);
    --c-success-alt-text-hover: light-dark(#ffffff,#ffffff);
    --c-success-alt-border-hover: 1px solid light-dark(#16b72e,#16b72e);

    /***/
    --c-danger-bg: light-dark(#be1818,#be1818);
    --c-danger-text: light-dark(#ffffff,#ffffff);
    --c-danger-border: none;
    --c-danger-bg-hover: light-dark(#ae0808,#ae0808);
    --c-danger-text-hover: light-dark(#ffffff,#ffffff);
    --c-danger-border-hover: none;

    --c-danger-alt-bg: transparent;
    --c-danger-alt-text: light-dark(#be1818,#f65555);
    --c-danger-alt-border: 1px solid light-dark(#be1818,#e33434);
    --c-danger-alt-bg-hover: light-dark(#ae0808,#ae0808);
    --c-danger-alt-text-hover: light-dark(#ffffff,#ffffff);
    --c-danger-alt-border-hover: 1px solid light-dark(#be1818,#be1818);

    /***/
    --c-warn-bg: light-dark(#de8e18,#de8e18);
    --c-warn-text: light-dark(#ffffff,#ffffff);
    --c-warn-border: none;
    --c-warn-bg-hover: light-dark(#be6e08,#be6e08);
    --c-warn-text-hover: light-dark(#ffffff,#ffffff);
    --c-warn-border-hover: none;

    --c-warn-alt-bg: transparent;
    --c-warn-alt-text: light-dark(#de8e18,#de8e18);
    --c-warn-alt-border: 1px solid light-dark(#de8e18,#de8e18);
    --c-warn-alt-bg-hover: light-dark(#be6e08,#be6e08);
    --c-warn-alt-text-hover: light-dark(#ffffff,#ffffff);
    --c-warn-alt-border-hover: 1px solid light-dark(#de8e18,#de8e18);

    /***/
    --c-info-bg: light-dark(#2c88fe,#2c88fe);
    --c-info-text: light-dark(#ffffff,#ffffff);
    --c-info-border: none;
    --c-info-bg-hover: light-dark(#0c68de,#0c68de);
    --c-info-text-hover: light-dark(#ffffff,#ffffff);
    --c-info-border-hover: none;

    --c-info-alt-bg: transparent;
    --c-info-alt-text: light-dark(#2c88fe,#2c88fe);
    --c-info-alt-border: 1px solid light-dark(#2c88fe,#2c88fe);
    --c-info-alt-bg-hover: light-dark(#0c68de,#0c68de);
    --c-info-alt-text-hover: light-dark(#ffffff,#ffffff);
    --c-info-alt-border-hover: 1px solid light-dark(#2c88fe,#2c88fe);

    /***/
    --c-inv-bg: light-dark(#444444,#777777);
    --c-inv-text: light-dark(#ffffff,#ffffff);
    --c-inv-border: none;
    --c-inv-bg-hover: light-dark(#333333,#555555);
    --c-inv-text-hover: light-dark(#ffffff,#ffffff);
    --c-inv-border-hover: none;

    --c-inv-alt-bg: transparent;
    --c-inv-alt-text: light-dark(#444444,#aaaaaa);
    --c-inv-alt-border: 1px solid light-dark(#444444,#777777);
    --c-inv-alt-bg-hover: light-dark(#333333,#555555);
    --c-inv-alt-text-hover: light-dark(#ffffff,#ffffff);
    --c-inv-alt-border-hover: 1px solid light-dark(#444444,#444444);

}
